name = "vspo-portal-gateway"
compatibility_date = "2024-10-22"
send_metrics = false
compatibility_flags = ["nodejs_compat", "nodejs_als"]
main = "cmd/server/gateway.ts"
tail_consumers = [{ service = "api-tail" }]
logpush = true

[dev]
port = 3000

[[services]]
binding = "APP_WORKER"
service = "app_worker"
entrypoint = "ApplicationService"

[env.production.vars]
SERVICE_NAME = "vspo-portal-gateway"
ENVIRONMENT = "production"
LOG_TYPE = "json"
LOG_MINLEVEL = 1
LOG_HIDE_POSITION = true
