name = "dev-vspo-portal-cron"
compatibility_date = "2024-10-22"
send_metrics = false
compatibility_flags = ["nodejs_compat", "nodejs_als"]
main = "cmd/cron/index.ts"
# tail_consumers = [{service = "dev-vspo-portal-cron-tail"}]
logpush = true
[dev]
port = 3002

[[services]]
binding = "APP_WORKER"
service = "dev-vspo-portal-app"
entrypoint = "ApplicationService"

[triggers]
# crons = [ "0 0,7,18 * * *", "5 0,7,18 * * *", "*/2 * * * *", "*/30 * * * *", "*/1 * * * *" ]
crons = [ "5 2 * * *" ]

[[workflows]]
name = "dev-search-streams-workflow"
binding = "SEARCH_STREAMS_WORKFLOW"
class_name = "SearchStreamsWorkflow"

[[workflows]]
name = "dev-search-channels-workflow"
binding = "SEARCH_CHANNELS_WORKFLOW"
class_name = "SearchChannelsWorkflow"

[[workflows]]
name = "dev-translate-streams-workflow"
binding = "TRANSLATE_STREAMS_WORKFLOW"
class_name = "TranslateStreamsWorkflow"

[[workflows]]
name = "dev-translate-creators-workflow"
binding = "TRANSLATE_CREATORS_WORKFLOW"
class_name = "TranslateCreatorsWorkflow"

[[workflows]]
name = "dev-discord-send-messages-workflow"
binding = "DISCORD_SEND_MESSAGES_WORKFLOW"
class_name = "DiscordSendMessagesWorkflow"

[[workflows]]
name = "dev-search-member-streams-by-channel-workflow"
binding = "SEARCH_MEMBER_STREAMS_BY_CHANNEL_WORKFLOW"
class_name = "SearchMemberStreamsByChannelWorkflow"

[[workflows]]
name = "dev-delete-streams-workflow"
binding = "DELETE_STREAMS_WORKFLOW"
class_name = "DeleteStreamsWorkflow"

[[workflows]]
name = "dev-discord-delete-all-workflow"
binding = "DISCORD_DELETE_ALL_WORKFLOW"
class_name = "DiscordDeleteAllWorkflow"

[[workflows]]
name = "dev-discord-send-message-all-channel-workflow"
binding = "DISCORD_SEND_MESSAGE_ALL_CHANNEL_WORKFLOW"
class_name = "DiscordSendMessageAllChannelWorkflow"

[[workflows]]
name = "dev-discord-send-message-channels-workflow"
binding = "DISCORD_SEND_MESSAGE_CHANNELS_WORKFLOW"
class_name = "DiscordSendMessageChannelsWorkflow"

[[workflows]]
name = "dev-exist-clips-workflow"
binding = "EXIST_CLIPS_WORKFLOW"
class_name = "ExistClipsWorkflow"

[[workflows]]
name = "dev-search-clips-workflow"
binding = "SEARCH_CLIPS_WORKFLOW"
class_name = "SearchClipsWorkflow"

[vars]
SERVICE_NAME = "dev-vspo-portal-cron"
ENVIRONMENT = "development"
LOG_TYPE = "json"
LOG_MINLEVEL = "1"
LOG_HIDE_POSITION = "true"

[observability]
enabled = true
