// styles/Home.module.scss
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.livestreamList {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.livestreamItem {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  img {
    width: 100%;
    object-fit: cover;
  }

  .subtitle {
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  .description {
    margin: 0;
  }
}

.timeRangeLabelContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5em;
  .timeRangeLabel {
    width: 12rem;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    background: rgb(45, 75, 112);
    border-radius: 1.35rem;
    @media (max-width: 768px) {
      width: 10rem;
      font-size: 1.2rem;
    }

    /* For mobile devices */
    @media (max-width: 480px) {
      width: 8rem;
      font-size: 1rem;
    }
  }
}
