name = "vspo-portal-cron"
compatibility_date = "2024-10-22"
send_metrics = false
compatibility_flags = ["nodejs_compat", "nodejs_als"]
main = "cmd/cron/index.ts"
tail_consumers = [{service = "vspo-portal-cron-tail"}]
logpush = true
[dev]
port = 3002

[[services]]
binding = "APP_WORKER"
service = "vspo-portal-app"
entrypoint = "ApplicationService"

[triggers]
crons = [ "0 0 * * *" ]

[[workflows]]
name = "search-videos-workflow"
binding = "SEARCH_VIDEOS_WORKFLOW"
class_name = "SearchVideosWorkflow"

[[workflows]]
name = "search-channels-workflow"
binding = "SEARCH_CHANNELS_WORKFLOW"
class_name = "SearchChannelsWorkflow"

[[workflows]]
name = "translate-videos-workflow"
binding = "TRANSLATE_VIDEOS_WORKFLOW"
class_name = "TranslateVideosWorkflow"

[[workflows]]
name = "translate-creators-workflow"
binding = "TRANSLATE_CREATORS_WORKFLOW"
class_name = "TranslateCreatorsWorkflow"

[[workflows]]
name = "discord-send-messages-workflow"
binding = "DISCORD_SEND_MESSAGES_WORKFLOW"
class_name = "DiscordSendMessagesWorkflow"

[vars]
SERVICE_NAME = "vspo-portal-cron"
ENVIRONMENT = "production"
LOG_TYPE = "json"
LOG_MINLEVEL = "1"
LOG_HIDE_POSITION = "true"
