name: Deploy Server Worker

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    defaults:
      run:
        working-directory: service/server
    strategy:
      matrix:
        include:
          # - config: "api-gateway.wrangler.toml"
          #   name: "vspo-portal-api-gateway"
          - config: "internal-app.wrangler.toml"
            name: "vspo-portal-internal-app"
          - config: "cron.wrangler.toml"
            name: "vspo-portal-cron"
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false
      - name: Install dependencies
        run: pnpm install
      - name: Build & Deploy Worker
        uses: cloudflare/wrangler-action@v3.12.0
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          packageManager: pnpm
          workingDirectory: service/server
          command: deploy --name ${{ matrix.name }} --config ${{ matrix.config }}
          environment: production
          secrets: |
            OPENAI_ORGANIZATION
            OPENAI_PROJECT
            OPENAI_API_KEY
            OPENAI_BASE_URL
            BASELIME_API_KEY
            OTEL_EXPORTER_URL
            YOUTUBE_API_KEY
            TWITCH_CLIENT_ID
            TWITCH_CLIENT_SECRET
            TWITCASTING_ACCESS_TOKEN

        env:
          OPENAI_ORGANIZATION: ${{ secrets.OPENAI_ORGANIZATION }}
          OPENAI_PROJECT: ${{ secrets.OPENAI_PROJECT }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          OPENAI_BASE_URL: ${{ secrets.OPENAI_BASE_URL }}
          BASELIME_API_KEY: ${{ secrets.BASELIME_API_KEY }}
          OTEL_EXPORTER_URL: ${{ secrets.OTEL_EXPORTER_URL }}
          YOUTUBE_API_KEY: ${{ secrets.YOUTUBE_API_KEY }}
          TWITCH_CLIENT_ID: ${{ secrets.TWITCH_CLIENT_ID }}
          TWITCH_CLIENT_SECRET: ${{ secrets.TWITCH_CLIENT_SECRET }}
          TWITCASTING_ACCESS_TOKEN: ${{ secrets.TWITCASTING_ACCESS_TOKEN }}
