name: Deploy Server Worker

on:
  push:
    branches:
      - main
      - develop
    paths:
      - 'service/server/**'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    environment: ${{ github.ref == 'refs/heads/main' && 'production' || 'development' }}
    defaults:
      run:
        working-directory: service/server
    strategy:
      matrix:
        include:
          - name: "vspo-portal-app"
          - name: "vspo-portal-cron"
          - name: "vspo-portal-gateway"
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false
      - name: Install dependencies
        run: pnpm install
      - name: Build & Deploy Worker
        uses: cloudflare/wrangler-action@v3.14.1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          packageManager: pnpm
          wranglerVersion: "4.6.0"
          workingDirectory: service/server/config/wrangler/${{ github.ref == 'refs/heads/main' && 'prd' || 'dev' }}/${{ matrix.name }}
          command: deploy
          preCommands: |
            cp -R ./ ../../../..
          quiet: true
          secrets: |
            OPENAI_ORGANIZATION
            OPENAI_PROJECT
            OPENAI_API_KEY
            OPENAI_BASE_URL
            BASELIME_API_KEY
            OTEL_EXPORTER_URL
            YOUTUBE_API_KEY
            TWITCH_CLIENT_ID
            TWITCH_CLIENT_SECRET
            TWITCASTING_ACCESS_TOKEN
            DISCORD_APPLICATION_ID
            DISCORD_PUBLIC_KEY
            DISCORD_TOKEN
            SENTRY_DSN
            DISCORD_TRANSLATION_SETTING
            DISCORD_BOT_MAINTENANCE
        env:
          ENVIRONMENT: ${{ github.ref == 'refs/heads/main' && 'production' || 'development' }}
          OPENAI_ORGANIZATION: ${{ secrets.OPENAI_ORGANIZATION }}
          OPENAI_PROJECT: ${{ secrets.OPENAI_PROJECT }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          OPENAI_BASE_URL: ${{ secrets.OPENAI_BASE_URL }}
          BASELIME_API_KEY: ${{ secrets.BASELIME_API_KEY }}
          OTEL_EXPORTER_URL: ${{ secrets.OTEL_EXPORTER_URL }}
          YOUTUBE_API_KEY: ${{ secrets.YOUTUBE_API_KEY }}
          TWITCH_CLIENT_ID: ${{ secrets.TWITCH_CLIENT_ID }}
          TWITCH_CLIENT_SECRET: ${{ secrets.TWITCH_CLIENT_SECRET }}
          TWITCASTING_ACCESS_TOKEN: ${{ secrets.TWITCASTING_ACCESS_TOKEN }}
          DISCORD_APPLICATION_ID: ${{ secrets.DISCORD_APPLICATION_ID }}
          DISCORD_PUBLIC_KEY: ${{ secrets.DISCORD_PUBLIC_KEY }}
          DISCORD_TOKEN: ${{ secrets.DISCORD_TOKEN }}
          SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
          DISCORD_TRANSLATION_SETTING: ${{ secrets.DISCORD_TRANSLATION_SETTING }}
          DISCORD_BOT_MAINTENANCE: ${{ secrets.DISCORD_BOT_MAINTENANCE }}
