name: Deploy Worker
on:
  workflow_dispatch:
    inputs:
      service:
        description: 'Service to deploy'
        required: true
        default: 'service/vspo-schedule/proxy'

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    defaults:
      run:
        working-directory: ${{ github.event.inputs.service }}
    steps:
      - uses: actions/checkout@v4
      - name: Build & Deploy Worker
        uses: cloudflare/wrangler-action@v3.6.1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          workingDirectory: ${{ github.event.inputs.service }}
          secrets: |
            TRANSLATE_URL
            API_BASE_URL
        env:
          TRANSLATE_URL: ${{ secrets.TRANSLATE_URL }}
          API_BASE_URL: ${{ secrets.API_BASE_URL }}
