name: Server Worker PR Check
on:
  pull_request:
    paths:
      - 'service/server/**'
      - '.github/workflows/pr-server-check.yaml'

jobs:
  check:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10.10.0
          run_install: true
      - name: Check
        run: pnpm run ci
        working-directory: service/server